.header {
    padding-bottom: 40px;
    background-color: white;
    border-bottom: 1px solid black;

}

.navLinks {
    margin-left: auto;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
}

.navLink {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-right: 10px;
}

.navLink:hover,
.navLink.active {
    border-bottom: 2px solid black;
}

.icons {
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cartIcon,
.notificationIcon {
    margin-right: 5px;
}

.cartCount,
.notificationCount {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 2px;
}