.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carouselSection {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.carouselTitle {
  font-size: 24px;
  margin-bottom: 10px;
}