.homepage-container {
  padding: 20px;
}
/* 
.carousel-section {
  margin-bottom: 20px;
}

.carousel-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel {
  display: inline;
  align-items: center;

}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
} */

/* .product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 22%; 
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.product img {
  max-width: 100%;
}

.product-info {
  margin-top: 10px;
}

.product-info p {
  margin: 0;
}

.product-info button {
  margin-top: 10px;
} */



.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carouselInner {
  display: flex;
  overflow-x: auto;
}

.productRow {
  display: flex;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 25%;
  box-sizing: border-box;
  margin-right: 10px;
}

.product:last-child {
  margin-right: 0;
}

.product img {
  max-width: 100%;
}

.carouselPrev, .carouselNext {
  padding: 10px;
}

.carouselPrev {
  order: -1; 
}