.navMenu {
  position: fixed;
  top: 130px; 
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #212121;
  color: #ffffff;
  font-family: Arial, sans-serif;
  width: 100%; 
  z-index: 1000;
}

.mainMenu {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 200;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
 
}

.menuItem {
  width: 128px;
  position: relative;
  padding: 15px 20px; 
  cursor: pointer;
  transition: background-color 0.3s, border-width 0.3s, box-shadow 0.3s; 
  display: block;
  border-right: 1px solid #3D3D3D;
  font-weight: bold; 
}

.menuItem:hover {
  background-color: #333; 
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); 
}

.active {
  background-color: #333;
}

.submenu {
  display: none;
  color: #000;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc; 
  transition: opacity 0.3s, height 0.3s, top 0.3s;
  border: 1px;
  border-color: #000;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  background: #fff;
  top: 100%;
  width: 125%;
  left: 0%;
  background-color: #ffffff;
}

.menuItem:hover .submenu {
  display: block;
}

.submenuItem {
  padding: 15px 20px; 
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold; 
  justify-content: right;
}

.submenuItem:hover {
  background-color: #ccc;
  color: #000;
}

.activeSubmenu {
  background-color: #666;
}

.subSubmenu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 100%;
  display: none;
  transition: opacity 0.3s, height 0.3s, top 0.3s;
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  background: #fff;
  width: 100%;
  background-color: #ffffff;
  transform: translateY(-52px);
}
.submenuItem:hover .subSubmenu {
  display: block;
}

.subSubmenuItem {
  padding: 15px 20px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold; 
}

.subSubmenuItem:hover {
  background-color: #ccc;
  color: #000;
}


.activeSubSubmenu {
  background-color: #777;
}

.arrowRight {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

 .checkbox {
  position: absolute;
  right: 5px; 
  /* top: 50%; */
  transform: translateY(-50%);
  cursor: pointer;
}

.checkbox::before {
  /* content: '\u2713';  */
  display: inline-block;
  width: 14px; 
  height: 14px; 
  font-size: 14px; 
  line-height: 14px; 
  text-align: center;
  border: 1px solid #000; 
  background-color: #fff; 
}