.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profileBox {
    margin-left: 0px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    width: 150px;
    text-align: left;
}

.value,
.editInput {
    flex: 1;
    font-size: 18px; /* Increase font size */
}

.editInput {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin-top: 10px;*/

}

.editButton,
.saveButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 100%;

    font-size: 16px;
    color: #fff;
    background-color: #ccc;
    transition: background-color 0.3s ease-in-out;
}
.editButton:hover {
    background-color: #333;
}


.saveButton {
    background-color: #28a745;
    margin-left: 10px;
}

.cancelButton {
    background-color: #dc3545;
    margin-right: 10px;
}

.alert {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}