.navbar {
    background-color: lightblue;
    border: 2px solid black;
    border-bottom: none;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 12px;
}

.navbar-link:hover {
    background-color: white;
    color: black;
}