.shoppingCartContainer {
    margin-top: 240px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cartTable th,
.cartTable td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.cartTable th {
    background-color: hwb(201 29% 23% / 0.674);
    font-weight: bold;
    text-align: center;
}

.cartTable td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.cartTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.cartTable tbody tr:nth-child(even) {
    background-color: #fff;
}

.productImage {
    max-height: 100px;
    width: auto;
}

.cartSummary {
    text-align: right;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.quantityAdjust {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.quantityAdjust button {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 10px;
}


.checkoutButton,
.clearCartButton {
    padding: 15px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.checkoutButton:hover,
.clearCartButton:hover {
    background-color: #0056b3;
}

.errorMessage {
    color: #ff0000;
    margin-top: 15px;
    font-size: 16px;
}

.emptyCartMessage {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 20px;
}

.cartActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.clearCartButton {
    padding: 15px 20px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.clearCartButton:hover {
    background-color: #dd0000;
}

.removeItem:hover {
    cursor: pointer;
    color: #ff0000;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.errorMessage {
    color: #ff0000;
    margin-top: 15px;
    font-size: 16px;
    background-color: #ffe5e5;
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 5px;
}