    .storeContainer {    
      max-width: 1750px;
      margin: 0 auto;
      padding: 20px;
    }
    .productGrid {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      gap: 20px;
    }

    .productBox {
      padding: 20px;
      text-align: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 350px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }

    .buttonGroup {
      display: table;
      margin-top: 20px;
    }

    .button {
      display: block;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      color: #ffffff;
      background-color: #757575;
      margin-block: 2px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    .button:hover {
      background-color: #333;
    }

    .productsPerPage {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    .productsPerPage select {
      margin-left: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    }